{% extends 'teacher/secretary/secretary_structure.html' %}
{% load static %}
{% block content %}
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h2 style="text-align: center; color: #27496d">教学秘书{{ name }}，您好！</h2>
            <hr/><br/><h1>欢迎来到教学秘书模块！</h1><br/><hr/>
            <table class="info">
                <tr>
                    <th>相关说明</th>
                <tr>
                <tr>
                    <td>教学秘书需要完成毕业论文评阅、答辩成绩录入、成绩总评发布等三项任务。</td>
                </tr>
                <tr>
                    <td>教学秘书可在过程信息统计页面浏览系统中所有课题的材料提交情况</td>
                </tr>
            </table><br/><hr/>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}