{% extends 'teacher/manager/manager_structure.html' %}
{% load static %}
{% block content %}
    <div class="info_border">
        <div class = 'border'>
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr><br/><h1 style="text-align: center; color: #27496d;">{{ message }}</h1><br/><hr>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}