{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{
            padding-right: 25px;
            display: block;
            margin: auto;
        }
    </style>
    <script>
        function $(id){
            return document.getElementById(id);
        }
        function showNewGroup(){
            $('newGroup').style.display = 'block';
            $('main-content').style.display = 'none';
        }
        function hideNewGroup(){
            $('newGroup').style.display = 'none';
            $('main-content').style.display = 'block';
        }
        function addNewMember(){
            var index = 0;
            $newRow = document.createElement('tr');
            $newRow.innerHTML = '<td><label for="group_member_id"></label><input style="border-radius: 5px; padding: 0;margin: auto" type="text" name="group_member_id" id="group_member_id" placeholder="请输入答辩组成员工号"/></td><td><label for="group_member_name"></label><input type="text" style="border-radius: 5px;padding: 0;margin: auto" name="group_member_name" id="group_member_name" placeholder="请输入答辩组成员姓名"/></td>';
            $('member').appendChild($newRow);
        }
    </script>
    <div class="info_border" id='main-content'>
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h3>答辩组管理</h3><hr/><br/>
            <input type="button" class="add" value="新建答辩组" onclick="showNewGroup()"/>
                <table>
                    <script>
                        var weekly_report_list = []
                    </script>
                        <tr>
                            <th>答辩组名称</th>
                            <th>答辩组地点</th>
                            <th>答辩组日期</th>
                            <th>答辩组组长</th>
                            <th>答辩小组秘书</th>
                            <th>答辩学生分配</th>
                            <th>已分配学生</th>
                            <th>信息操作</th>
                        </tr>
                    <script>
                        var group_list = []
                    </script>
                    {% for group in group_list %}
                            <tr>
                                <td>{{ group.time }}</td>
                                <td>{{ group.location }}</td>
                                <td>{{ group.date }}</td>
                                <td>{{ group.leader }}</td>
                                <td>{{ group.secretary }}</td>
                                <td><input type="button" style="margin: auto" value="分配"></td>
                                <td>
                                    <p>{{ group.count }}</p>
                                </td>
                                <td>
                                    <script></script>
                                    <div class="form-group">
                                        <input type="button" style="width:36%; margin: auto" value="修改">
                                        <input type="button" style="width:36%; margin: auto" value="删除">
                                    </div>
                                </td>
                            </tr>
                    {% empty %}
                        <tr style="height: 128px">
                            <td colspan="8">暂无周进度报告</td>
                        </tr>
                    {% endfor %}
                </table>
                <br/><hr/>
        </div>
    </div>
    <div id="newGroup" class="pop">
            <div class="border">
                <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
                <hr/><h3>新建答辩组</h3><hr/><br/>
                <form action="/teacher/manager/group_assignment/assign/" method="post">
                    {% csrf_token %}
                    <label>答辩组名称：
                        <input type="text" name="group_name" id="group_name" placeholder="请输入答辩组名称"/>
                    </label>
                    <label>答辩组地点：
                        <input type="text" name="group_location" id="group_location" placeholder="请输入答辩组地点"/>
                    </label>
                    <label>答辩组日期：
                        <input type="date" name="group_date" id="group_date" placeholder="请输入答辩组日期"/>
                    </label><br/>
                    <label>答辩组学院：
                        <input type="text" name="group_faculty" id="group_faculty" placeholder="请输入答辩组学院"/>
                    </label>
                    <label>答辩组组长：
                        <input type="text" name="group_leader" id="group_leader" placeholder="请输入答辩组组长"/>
                    </label>
                    <label>答辩小组秘书：
                        <input type="text" name="group_secretary" id="group_secretary" placeholder="请输入答辩小组秘书"/>
                    </label><hr/>
                    <input type="button" value="新建成员" onclick="addNewMember()" class="add">
                    <table id="member">
                        <tr>
                            <th>工号</th>
                            <th>姓名</th>
                        </tr>
                        <tr>
                            <td>
                                <label for="group_member_id"></label><input style="border-radius: 5px; padding: 0;margin: auto" type="text" name="group_member_id" id="group_member_id" placeholder="请输入答辩组成员工号"/>
                            </td>
                            <td>
                                <label for="group_member_name"></label><input type="text" style="border-radius: 5px;padding: 0;margin: auto" name="group_member_name" id="group_member_name" placeholder="请输入答辩组成员姓名"/>
                        </tr>
                    </table><br/><hr><br/>
                    <div class="form-group">
                        <input style="width: 36%;margin:auto" type="submit" value="提交">
                        <input style="width: 36%;margin:auto" type="button" value="取消" class="cancel" onclick="hideNewGroup()">
                    </div>
                </form>
            </div>
    </div>
{% endblock %}