{% extends 'component/navigation.html' %}
{% block aside %}
  <h2>{{ name }}老师, 您好！</h2>
    <h4>鹤发银丝映日月，丹心热血沃新花。</h4><br/>
  <ul class="side-links">
    <li><a href="/teacher/manager/project_review">审核课题</a></li>
    <li><a href="/teacher/manager/task_review">审核任务书</a></li>
    <li><a href="/teacher/manager/defense_assignment">分配评阅教师</a></li>
    <li><a href="/teacher/manager/group_assignment">管理答辩小组</a></li>
    <li><a href="/teacher/manager/information_summary">过程信息统计</a></li>

  </ul>
{% endblock %}