{% extends 'teacher/manager/manager_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{padding-right: 25px}
        select{
            margin-right: 60px;
            width: 30%;
        }
        textarea {
            margin-top: 20px;
          display: block;
          width: 100%;
          padding: 10px;
          font-size: 14px;
          line-height: 1.5;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 20px;
            height: 240px;
        }
    </style>
    <script>
        var project_list = []
        function $(id){
            return document.getElementById(id);
        }
        function showPop(project, status){
            // 隐藏页面主体
            $('main-content').style.display = 'none';
            // 显示弹窗
            document.getElementsByClassName('pop')[0].style.display = 'block';
            // 初始化提交按钮
            var submit_button;
            submit_button = $('submit_button');
            // 显示额外信息
            $('extra').style.display = 'block';
            // 设置弹窗的基本属性值
            $('project_name').value = project.name
            $('pname').value = project.name
            $('teacher_name').value = project.teacher_name
            $('teacher_no').value = project.teacher_no
            $(project.type).setAttribute('selected', 'selected')
            // 设置额外信息的值
            $('project_info').value = project.info;
            $('attachment').src = project.file
            $('submit_time').value = project.time;
            $('project_status').value = project.status;
            $('comment').value = project.comment;
            $('comment_time').value = project.comment_time;
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            document.getElementsByClassName('pop')[0].style.display = 'none';
            $('extra').style.display =  'none';
        }
    </script>
    <div class="pop">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1 style="font-size: 24px">课题信息</h1><hr/><br/>
            <form method="post" action="/teacher/manager/project_review/pass/">
                {% csrf_token %}
                <label style="display: block">课题名称：
                    <input class="disabled" style="display: none; border-radius: 10px;width: 48%" required='' type='text' id="pname" name="pname">
                    <input disabled class="disabled" style="border-radius: 10px;width: 48%" required='' type='text' id="project_name" name="project_name">
                </label>
                <label style="display: block">申报教师：
                    <input disabled class="disabled" style="border-radius: 10px;width: 48%" required='' type='text' id="teacher_name" name="project_name">
                </label>
                <label style="display: block">教师工号：
                    <input disabled class="disabled" style="border-radius: 10px;width: 48%" required='' type='text' id="teacher_no" name="project_name">
                </label>
                <div style="margin-top: 20px; margin-bottom: 20px">
                   <label style="padding-right: 96px;">是否是学生自拟：
                        <select disabled name="is_self_choose">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                   </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 144px;">题目类型：
                        <select disabled name="project_type">
                              <option value="设计" id="设计">设计</option>
                              <option value="论文" id="论文">论文</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 112px;">是否结合科研：
                        <select disabled name="is_scientific">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label>是否结合生产实践和社会实际：
                        <select disabled name="is_practical">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>主要研究内容及要求:
                        <textarea disabled id="project_info" class="proposal" style="margin-bottom: 0" name="project_info" placeholder="在此输入主要研究内容及要求..."></textarea>
                    </label>
                </div>
                <label>附加文件：
                    <input id="attachment" type="file" name="attachment"/>
                </label>
                <div id = "extra" style="display: none">
                    <br/><hr/><br/>
                    <label>提交时间
                        <input disabled class="disabled" type="text" id="submit_time" name="submit_time">
                    </label>
                    <label>审核状态：
                        <input disabled class="disabled" type="text" id="project_status">
                    </label>
                    <label>审核意见：
                        <textarea name="comment"></textarea>
                    </label>
                    <label>审核结果：
                        <select name="result">
                            <option value="通过">通过</option>
                            <option value="不通过">不通过</option>
                        </select>
                    </label>
                </div>
                <br/><hr/><br/>
                <label style="display: none" for="action"></label>
                <input type="text" style="display: none" id="action" name="action"/>
                <div class="form-group" style="padding: 0; margin: 0;">
                    <input style="display: inline; width: 36%;margin: auto" id="submit_button" type="submit" onclick="hidePop()" value="提交" />
                    <input style="display: inline; width: 36%;margin: auto" type="button" onclick="hidePop()" value="取消" />
                </div>
            </form>
        </div>
    </div>
    <div id="main-content" class="info_border">
        <div class = 'border'>
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/>
            <h1 style="font-size: 24px">课题审核</h1>
            <hr/><br/>
            <table>
                <tr>
                    <th>课题名称</th>
                    <th>课题类型</th>
                    <th>申报教师</th>
                    <th>选题方式</th>
                    <th>信息操作</th>
                </tr>
                {% for project in project_list %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.type }}</td>
                        <td>{{ project.supervisor }}</td>
                        <td>盲选</td>
                        <td>
                            <script>
                                var project_info= {
                                    name:'{{ project.name }}',
                                    type:'{{ project.type }}',
                                    info:'{{ project.info }}',
                                    file:'{{ project.file }}',
                                    time:'{{ project.time }}',
                                    status:'{{ project.status }}',
                                    comment:'{{ project.comment }}',
                                    comment_time:'{{ project.comment_time }}',
                                    teacher_name:'{{ project.supervisor }}',
                                    teacher_no:'{{ project.tno }}'
                                }
                                project_list.push(project_info)
                            </script>
                            <input type="button" style="margin: auto" onclick="showPop(project_list['{{ project.index }}'], '{{ project.status }}')" value="审核">
                        </td>
                    </tr>
                {% empty %}
                     <tr style="height: 128px">
                        <td colspan="5">暂无课题需审核</td>
                    </tr>
                {% endfor %}
            </table>
            <br/><hr/>
        </div>
    </div>
{% endblock %}