{% extends 'structure.html' %}
{% load static %}
{% block content %}
    <style>
        label {
          font-weight: bold;
          font-size: 16px;
        }
        select {
          font-size: 14px;
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
    </style>
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>欢迎来到教师中心！</h1><hr/><br/>
            <p style="text-align: center; color: #27496d;">现在正处于选题阶段!</p>
            <p style="text-align: center; color: #27496d;">请在规定时间内完成选题!</p>
                <br/><hr/><h3>请选择您的工作角色:</h3>
                <form method="post" action="/teacher/role/">
                        {% csrf_token %}
                        <div style="text-align: center">
                            <label for="role">选择角色：</label>
                            <select id="role" name="role">
                                  <option value="supervisor">指导教师</option>
                                  <option value="manager">毕业设计负责人</option>
                                  <option value="dean">教学院长</option>
                                  <option value="teaching_secretary">教学秘书</option>
                                  <option value="defence_secretary">答辩秘书</option>
                            </select>
                            <input style=" width: auto" type="submit" value="进入教师中心" />
                        </div>
                </form><br/><hr/>
        </div>
    </div>
{% endblock %}