{% extends 'structure.html' %}
{% load static %}
{% block content %}
    <style>
        label {
          font-weight: bold;
          font-size: 16px;
        }
        select {
          font-size: 14px;
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
    </style>
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>欢迎来到教师中心！</h1><hr/>
            <table class="info">
                <tr>
                    <th>相关说明</th>
                <tr>
                <tr>
                    <td>教师中心分为四个工作角色，分别是指导教师、毕业负责人、教学院长与教学秘书</td>
                </tr>
                <tr>
                    <td>请在下方选择框中选择您的工作角色，前往相应的工作页面</td>
                </tr>
            </table><br/><hr/>
            <br/><hr/><h3>请选择您的工作角色:</h3>
            <form method="post" action="/teacher/role/">
                    {% csrf_token %}
                    <div style="text-align: center">
                        <label for="role">选择角色：</label>
                        <select id="role" name="role">
                              <option value="supervisor">指导教师</option>
                              <option value="manager">毕业设计负责人</option>
                              <option value="dean">教学院长</option>
                              <option value="teaching_secretary">教学秘书</option>
                              <option value="defence_secretary">答辩秘书</option>
                        </select>
                        <input style=" width: auto" type="submit" value="进入教师中心" />
                    </div>
            </form><br/><hr/>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}