@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body{
    background-color: #E6E6E6;
}
/*登录表单样式*/
input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1.5em;
  background: #ffffffAA;
  resize: none;
  outline: none;
}
input[type="text"][required]:focus {
  border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 2.3em;
  margin-top: -webkit-calc(-3em - 2px);
  margin-top: calc(-3em - 2px);
  margin-bottom: -webkit-calc((3em - 1em) + 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 -webkit-calc(1em + 2px);
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #89898988;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff88), to(#ffffff88));
  background-image: -webkit-linear-gradient(top, #ffffff88, #ffffff88);
  background-image: linear-gradient(to bottom, #ffffff88, #ffffff88);
  -webkit-background-size: 100% 5px;
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1.5em;
  background: #fffffFAA;
  resize: none;
  outline: none;
}
input[type="password"][required]:focus {
  border-color: #00bafa;
}
input[type="password"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="password"][required]:focus + label[placeholder]:before,
input[type="password"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="password"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="password"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 2.3em;
  margin-top: -webkit-calc(-3em - 2px);
  margin-top: calc(-3em - 2px);
  margin-bottom: -webkit-calc((3em - 1em) + 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="password"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 -webkit-calc(1em + 2px);
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #89898988;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff88), to(#ffffff88));
  background-image: -webkit-linear-gradient(top, #ffffff88, #ffffff88);
  background-image: linear-gradient(to bottom, #ffffff88, #ffffff88);
  -webkit-background-size: 100% 5px;
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  height: 100%;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.login-form {
  background-color: #f8f8f8;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  /* 定位到中心 */
  text-align: center;
  transform: translate(-50%, -50%);
}

.text {
  /* height: 80px; */
  /* 标题Login的样式 */
  font-size: 27px;
  font-weight: 700;
  /* 800px; */

  text-align: center;
  line-height: 80px;

  margin-top: 40px;
}

.form-item,
.btn,
.other {
  margin: 20px auto;
  width: 80%;
}

input {
  width: 80%;
  margin-top: 20px;
  padding: 10px;

  /* 边框效果 */
  border: 0;
  outline: none;
  border-bottom: 1px solid #fbc2eb;
}

input::placeholder {
  font-weight: bold;
  color: #acb7c9;
}

input:focus {
  /* 当输入框获取焦点时的效果 */
  /* box-shadow: 0px 0px 5px #fbc2eb;
  border-bottom: 1px solid #fff; */
  animation: bBottom 2s infinite;
}

@keyframes bBottom {
  50% {
    border-bottom: 1px solid #a6c1ee;
  }
}

.btn {
  font-size: 17px;
  height: 40px;
  line-height: 30px;
  /* 字体 */
  color: #fff;
  font-weight: bold;
  letter-spacing: 10px;
  /* 鼠标样式 */
  cursor: pointer;
  /* 边框、背景 */
  border-radius: 10px;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee, #fbc2eb);
  background-size: 200%;
}

.btn:hover {
  animation: btnAnimate 1s infinite;
}

@keyframes btnAnimate {
  50% {
    background-position: 200%;
  }
}

a {
  text-decoration: none;
  color: #fbc2eb;
}

/* 全局样式 */
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

/* 导航栏样式 */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003778F1;
  color: #fff;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.logo h1 {
    white-space: nowrap;
  font-size: 24px;
  margin-left: 10px;
}

.nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    horiz-align: center;
}

.nav-links li {
  margin-right: 20px;
    border-left: #fff;
    border-right: #fff;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav[id="second-nav"]{
    transition: all 0.3s ease;
    background-color: #ffffff88;
    box-shadow: 0 0 5px #27496d inset;
    height:0;
}
ul.second-links {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    display: flex;
    list-style: none;
    horiz-align: center;
}
ul.second-links li{
    color: #27496d;
    padding: 5px;
    margin: 0px;
    margin-right: 20px;
    border: 1px solid #27496d00;
    border-radius: 5px;
    transition: all ease 0.3s;
}
ul.second-links li:hover{
    border: 1px solid #27496d;
    box-shadow: 0 0 5px #27496d;
    border-radius: 5px;
    transition: all ease 0.3s;
}
ul.second-links a {
  color: #27496d;
  text-decoration: none;
  font-size: 14px;
}
/* 侧边栏样式 */
aside {
    border-radius: 5px;
    padding: 20px;
    background-color: #FFFFFF66;
    box-shadow: 0 0 4px #999;
    height: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.side-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-links li {
  margin-bottom: 10px;
}

.side-links a {
  display: block;
  padding: 10px 20px;
  background-color: #FAFAFA;
    border-radius: 5px;
    border: 2px solid #27496d88;
    box-shadow: 0 0 2px #27496d66;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.side-links a:hover {
  background-color: #27496d;
    border-color: #FAFAFA;
    box-shadow: 0 0 5px #27496d;
  color: #fff;
}

/* 日历样式 */

:root {
    --primary-color: #27496d;
    --calendar-bg-color: #F6F6F6;
    --calendar-font-color: var(--primary-color);
    --weekdays-border-bottom-color: #E0E0E0;
    --calendar-date-hover-color: #27496d;
    --calendar-current-date-color: #EFEFEF;
    --calendar-today-color: linear-gradient(to bottom, #E6E6E6, #F0F0F0);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
        --next-prev-arrow-color : var(--primary-color);
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #BDBDBD
}

@media screen and (max-width: 4000px) {
  .calendar {
    display: none;
  }
}
.calendar {
    border: #003778;
    box-shadow: 0 0 4px #27496d;
    font-family: 'IBM Plex Sans', sans-serif;
    max-width: 320px; /*change as per your design need */
    min-width: 10px;
    display: inline-block;
    position: relative;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/* 查看信息页面 */
h1{
    font-size: 24px;
    text-align: center;
    color: #27496d;
}
h3,h4{
    text-align: center;
    color: #27496d;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff88;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2AA;
}

input[type="submit"]{
  border-radius: 4px;
  color: #333;
    background-color: #ffffff66;
        box-shadow: 0 0 4px #27496d;
  text-decoration: none;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #27496d;
  color: #fff;
}
input[type="button"]{
  border-radius: 4px;
  color: #333;
    background-color: #ffffff66;
        box-shadow: 0 0 4px #27496d;
  text-decoration: none;
    transition: all 0.3s ease;
}
input[type="button"].add{
  border-radius: 4px;
  color: #333;
    background-color: #ffffff66;
    box-shadow: 0 0 2px #27496d;
    margin-bottom: 4px;
    width: 32%;
  text-decoration: none;
    transition: all 0.3s ease;
}
input[type="submit"].add{
  border-radius: 4px;
  color: #333;
    background-color: #ffffff66;
    box-shadow: 0 0 2px #27496d;
    margin-bottom: 4px;
    width: 32%;
  text-decoration: none;
    transition: all 0.3s ease;
}
input[type="button"]:hover {
  background-color: #27496d;
  color: #fff;
}
input.disable[type="submit"]{
  border-radius: 4px;
  color: #333;
    background-color: #E6E6E6;
  transition: all 0.3s ease;
}

input.disable[type="submit"]:hover {
  background-color: #27496d;
  color: #fff;
}
label {
    font-weight: bold;
    font-size: 16px;
}
select {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* 页脚样式 */
.footer {
    margin-top: 96px;
    border: #FAFAFA 2px solid;
    background-color: #003778E0;
    border-radius: 6px;
    color: #F0F0F0;
    box-shadow: 0 0 5px #000 inset;
    z-index: -10;
    vertical-align: bottom;
    padding: 20px;
    text-align: center;
}
.footer:hover{
    box-shadow: 0 0 8px #000 inset;
}
.footer p {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}
.footer ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
.footer ul li {
  margin: 10px;
  font-size: 16px;
}
.footer ul li a {
    text-decoration: none;
    color: #F0F0F0;
    transition: all ease 0.3s;
}
.footer ul li a:hover {
  text-decoration: underline;
    transition: all ease 0.3s;
}
hr {
    border: 1px solid #27496d55;
}

div.img_center_div{
      display: flex;
      justify-content: center;
      align-items: center;
}

.form-group {
    width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-group form {
  width: 64%;
}
.form-group button {
  width: 36%;
    margin: auto;
}


textarea.proposal {
    margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
    height: 180px;
}

textarea{
    margin-top: 20px;
  display: block;
  width: 94%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
    height: 160px;
}

div.pop{
    display: none;
    margin: auto;
    width: 84%;
    height: 100%;
    background-color: #ffffffFD;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
    text-align: center;
    z-index: 100;
}

div.info_border{
    margin: auto;
    width: 84%;
    height: 100%;
    background-color: #ffffffFD;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
    text-align: center;
    z-index: 100;
}

div.form{
    margin: auto;
    width: 76%;
    background-color: #ffffffDD;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
}
div.child-form{
    border: 2px solid #27496d;
    position:relative;
    border-radius: 8px;
    padding: 32px;
    margin: 32px auto;
    margin-bottom: 48px;
    width: 80%;
    text-align: left;
}

li.head_navi{
    border: 1px solid #ffffff00;
    padding: 10px;
    transition: all ease 0.3s;
}
li.head_navi:hover{
    border: 1px solid #F5F5F5;
    padding: 10px;
    box-shadow: 0 0 5px #ffffffbb;
    transition: all ease 0.3s;
    border-radius: 6px;
}
li.website_id{
    font-size: 3px;
    margin-top: 12px;
    text-align: center;
    list-style: none;
}

div.border{
    border: 2px solid #27496d;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
    height:auto;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
}

div.label-border{
    border-left: 1px dotted #27496dAA;
    border-right: 1px dotted #27496dAA;
    padding-left: 32px;
    padding-right: 32px;
}
p.proverb{
    color: #27496d;
    text-align: center;
    text-shadow: 0 0 4px #fff;
    transition: all ease 0.3s;
}
p.proverb:hover{
    color: #27496d;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 4px #27496d;
    transition: all ease 0.3s;
}

input[disabled]{
    background-color: #f8f8f8;
}