{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{padding-right: 25px}
        div{
            margin-top: 20px;
            margin-bottom: 20px
        }
        select{
            margin-right: 60px;
            width: auto;
        }
        textarea {
            margin-top: 20px;
          display: block;
          width: 100%;
          padding: 10px;
          font-size: 14px;
          line-height: 1.5;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 20px;
            height: 240px;
        }
    </style>
    <script>
        var project_list = []
        function $(id){
            return document.getElementById(id);
        }
        function showPop(project, status){
            // 隐藏页面主体
            $('main-content').style.display = 'none';
            // 显示弹窗
            document.getElementsByClassName('pop')[0].style.display = 'block';
            // 初始化提交按钮
            var submit_button;
            submit_button = $('submit_button');
            // 依据课题审核状态，修改弹窗内容
            if( status === "申报") {
                $('action').value = "申报";
                submit_button.type = "submit";
                submit_button.value = "申报";
            }
            else{
                // 显示额外信息
                $('extra').style.display = 'block';
                // 设置弹窗的基本属性值
                $('project_name').value = project.name
                $('old_project_name').value = project.name
                $(project.type).setAttribute('selected', 'selected')
                // 设置额外信息的值
                $('project_info').value = project.info;
                $('attachment').src = project.file
                $('submit_time').value = project.time;
                $('project_status').value = project.status;
                $('comment').value = project.comment;
                $('comment_time').value = project.comment_time;
                // 依据课题审核状态，修改弹窗内容
                if (status === "待审核" || status === "未通过审核"){
                    $('action').value = "修改";
                    submit_button.type = "submit";
                    submit_button.value = "提交";
                }
                else {
                    submit_button.value = "已审核"
                    submit_button.setAttribute('disabled', 'disabled');
                }
            }
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            document.getElementsByClassName('pop')[0].style.display = 'none';
            $('extra').style.display =  'none';
        }
    </script>
    <div class="pop" style="width:82%; margin: auto; left: 0; top:0">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/>
            <h1 style="font-size: 24px">课题信息</h1>
            <hr/><br/>
            <form method="post" action="/teacher/supervisor/project_proposal/proposal/">
                {% csrf_token %}
                <label>课题名称：
                    <input style="display: none" disabled id="old_project_name" name="old_project_name">
                    <input style="border-radius: 10px;width: 48%" required='' placeholder="请在这里输入您的课题名称" type='text' id="project_name" name="project_name">
                </label>
                <label alt='请输入课题名称' placeholder='课题名称' style="position:relative; left: 28%"></label>
                <div style="margin-top: 20px; margin-bottom: 20px">
                   <label style="padding-right: 96px;">是否是学生自拟：
                        <select name="is_self_choose">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                   </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 144px;">题目类型：
                        <select name="project_type">
                              <option value="设计" id="设计">设计</option>
                              <option value="论文" id="论文">论文</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 112px;">是否结合科研：
                        <select name="is_scientific">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="">是否结合生产实践和社会实际：
                        <select style="width: auto" name="is_practical">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>主要研究内容及要求:
                        <textarea id="project_info" class="proposal" style="margin-bottom: 0" name="project_info" placeholder="在此输入主要研究内容及要求..."></textarea>
                    </label>
                </div>
                <label>附加文件：
                    <input id="attachment" type="file" name="attachment"/>
                </label><br/><br/>
                <div id = "extra" style="display: none">
                    <hr/>
                    <label>提交时间
                        <input disabled type="text" id="submit_time" name="submit_time">
                    </label>
                    <label>审核状态：
                        <input disabled class="disabled" type="text" id="project_status">
                    </label>
                    <label>审核意见：
                        <textarea disabled id="comment" name="comment"></textarea>
                    </label>
                    <label>审核时间：
                        <input disabled type="text" id="comment_time"/>
                    </label>
                </div>
                <hr/>
                <label style="display: none" for="action"></label>
                <input type="text" style="display: none" id="action" name="action"/>
                <div class="form-group" style="padding: 0; margin: 0;">
                    <input style="display: inline; width: 36%" id="submit_button" type="submit" onclick="hidePop()" value="提交" />
                    <input style="display: inline; width: 36%" type="button" onclick="hidePop()" value="取消" />
                </div>
            </form>
        </div>
    </div>
    <div id="main-content" class = "info_border">
        <div class = 'border'>
                 <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/>
        <hr/><h1 style="font-size: 24px">课题申报</h1><hr/><br/><hr/>
            <h3>相关说明</h3><hr/>
            <table class="info">
                <tr>
                    <th>对课题的要求</th>
                <tr>
                <tr>
                    <td>课题应符合专业培养目标和课程目标要求，注重与生产实践、科学研究、社会实际、经济发展等结合，有一定的学术水平或实用价值</td>
                </tr>
                <tr>
                    <td>选题难度和工作量要适宜，使学生既能得到综合训练，又能在规定时间内经过努力可以完成</td>
                </tr>
            </table><br/><hr/>
            <div class="label-border">
                <h2 style="color:#27496d;" >已申报课题：</h2>
                <input type="button" class="add" value="申报课题"
                       onclick="showPop('','申报')"/>
                <table>
                        <tr>
                            <th>课题名称</th>
                            <th>课题类型</th>
                            <th>申报时间</th>
                            <th>课题状态</th>
                            <th>相关操作</th>
                        </tr>
                    {% for project in project_list %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.type }}</td>
                                <td>{{ project.time }}</td>
                                <td>{{ project.status }}</td>
                                <script>
                                    var project_info= {
                                        name:'{{ project.name }}',
                                        type:'{{ project.type }}',
                                        info:'{{ project.info }}',
                                        file:'{{ project.file }}',
                                        time:'{{ project.time }}',
                                        status:'{{ project.status }}',
                                        comment:'{{ project.comment }}',
                                        comment_time:'{{ project.comment_time }}'
                                    }
                                    project_list.push(project_info)
                                </script>
                                <td>
                                    {% if project.status == "待审核" or project.status == "未通过审核" %}
                                        <input style="margin: auto" type="button" value="修改"
                                               onclick="showPop(project_list['{{ project.index }}'], '{{ project.status }}')">
                                    {% else %}
                                        <input style="margin: auto" type="button" value="查看"
                                               onclick="showPop(project_list['{{ project.index }}'], '{{ project.status }}')">
                                    {% endif %}
                                </td>
                            </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">暂无课题</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br/><hr/>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}