{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% block content %}
    <style>
        input[type="submit"]{
          border-radius: 4px;
          color: #333;
          text-decoration: none;
          transition: all 0.3s ease;
            background-color: #FDFDFD;
        }

        input[type="submit"]:hover {
          background-color: #27496d;
          color: #fff;
        }
    </style>
    <h1>已确认选题</h1><br/>
        <table>
            <tr>
                <th>课题名称</th>
                <th>课题类型</th>
                <th>选题学生</th>
                <th>学生学号</th>
                <th>课题状态</th>
                <th>选题时间</th>
                <th>状态更新时间</th>
                <th>信息操作</th>
            </tr>
        {% for selected_project in selected_project_list %}
            <tr>
                <td>{{ selected_project.project_name }}</td>
                <td>{{ selected_project.student_name }}</td>
                <td>{{ selected_project.student_name }}</td>
                <td>{{ selected_project.student_no }}</td>
                <td>{{ selected_project.status }}</td>
                <td>{{ selected_project.time }}</td>
                <td>{{ selected_project.update_time }}</td>
                <td>
                    <div class="form-group">
                        <form style="display: inline" method="post" action="/teacher/supervisor/project_confirmation/cancel_selection/" onsubmit="return confirm('您确定取消此学生的选题吗？')">
                            {% csrf_token %}
                            <input type="text" hidden="hidden" name="project_name" value={{ item.project_name }}>
                            <input type="text" hidden="hidden" name="student_no" value={{ item.student_no }}>
                            <input type="submit" style="text-align:center; margin: auto" value="取消选题">
                        </form>
                     </div>
                </td>
            </tr>
        {% empty %}
             <tr>
                 <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                 <td>&nbsp</td>
                 <td>&nbsp</td>
            </tr>
        {% endfor %}
    </table>
   <h1>确认选题</h1><br/>
    <table>
        <tr>
            <th>课题名称</th>
            <th>课题类型</th>
            <th>预选学生</th>
            <th>学生学号</th>
            <th>志愿顺序</th>
            <th>预选时间</th>
            <th>信息操作</th>
        </tr>
        {% for item in pre_selection_info %}
            <tr>
                <td>{{ item.project_name }}</td>
                <td>{{ item.project_type }}</td>
                <td>{{ item.student_name }}</td>
                <td>{{ item.student_no }}</td>
                <td>{{ item.level }}</td>
                <td>{{ item.time }}</td>
                <td>
                    <div class="form-group">
                        <form style="display: inline" method="post" action="/teacher/supervisor/project_confirmation/confirm_project/" onsubmit="return confirm('您确定确认此学生的选题吗？')">
                            {% csrf_token %}
                            <input type="text" hidden="hidden" name="project_name" value={{ item.project_name }}>
                            <input type="text" hidden="hidden" name="student_no" value={{ item.student_no }}>
                            <input type="submit" style="text-align:center; margin: auto" value="确认">
                        </form>
                        <form style="display: inline" method="post" action="/teacher/supervisor/project_confirmation/cancel_pre_selection/" onsubmit="return confirm('您确定取消此学生的选题吗？')">
                            {% csrf_token %}
                            <input type="text" hidden="hidden" name="project_name" value={{ item.project_name }}>
                            <input type="text" hidden="hidden" name="student_no" value={{ item.student_no }}>
                            <input type="submit" style="text-align:center; margin: auto" value="重选">
                        </form>
                     </div>
                </td>
            </tr>
        {% empty %}
             <tr>
                 <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                 <td>&nbsp</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}