{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% block content %}
    <style>
        label{padding-right: 25px}
        div{
            margin-top: 20px;
            margin-bottom: 20px
        }
        select{
            margin-right: 60px;
            width: 30%;
        }
        textarea {
            margin-top: 20px;
          display: block;
          width: 100%;
          padding: 10px;
          font-size: 14px;
          line-height: 1.5;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 20px;
            height: 240px;
        }
    </style>
    <script>
        function $(id){
            return document.getElementById(id);
        }
        function showPop(name, type, info, file, time, status, comment, comment_time){
            // 隐藏页面主体
            $('main-content').style.display = 'none';
            // 初始化提交按钮
            var submit_button;
            submit_button = $('submit_button');
            // 依据课题审核状态，修改弹窗内容
            if( status === "申报"){
                $('action').value = "申报";
                submit_button.type = "submit";
                submit_button.value = "申报";
            }
            else{
                // 显示额外信息
                $('extra').style.display = 'block';
                // 设置弹窗的基本属性值
                $('project_name').value = '{{ name }}'
                $('old_project_name').value = '{{ name }}'
                $(type).setAttribute('selected', 'selected')
                // 设置额外信息的值
                $('project_info').value = info;
                $('attachment').src = file
                $('submit_time').value = time;
                $('project_status').value = status;
                $('comment').value = comment;
                $('comment_time').value = comment_time;
                // 依据课题审核状态，修改弹窗内容
                if (status === "待审核" || status === "未通过审核"){
                    $('action').value = "修改";
                    submit_button.type = "submit";
                    submit_button.value = "提交";
                }
                else{
                    submit_button.setAttribute('disabled', 'disabled');
                }
            }
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            document.getElementsByClassName('pop')[0].style.display = 'none';
            $('extra').style.display =  'none';
        }
    </script>
    <div class="pop" style="margin: auto; left: 0; top:0">
        <h3>课题信息</h3><br/>
        <div id style="border: 2px solid #27496d;position:relative;border-radius: 8px;padding: 32px; width: 80%; height:auto; left: 10%; text-align: left; margin-bottom: 64px">
            <form method="post" action="/student/weekly_report/submit_report">
                {% csrf_token %}
                <label>课题名称：
                    <input style="display: none" disabled id="old_project_name" name="old_project_name">
                    <input style="border-radius: 10px;width: 48%" required='' type='text' id="project_name" name="project_name">
                </label>
                <label alt='请输入课题名称' placeholder='课题名称' style="position:relative; left: 28%"></label>
                <div style="margin-top: 20px; margin-bottom: 20px">
                   <label style="padding-right: 96px;">是否是学生自拟：
                        <select name="is_self_choose">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                   </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 144px;">题目类型：
                        <select name="project_type">
                              <option value="设计" id="设计">设计</option>
                              <option value="论文" id="论文">论文</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label style="padding-right: 112px;">是否结合科研：
                        <select name="is_scientific">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <label>是否结合生产实践和社会实际：
                        <select name="is_practical">
                              <option value="true" selected>是</option>
                              <option value="false">否</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>主要研究内容及要求:
                        <textarea class="proposal" name="project_info" placeholder="在此输入主要研究内容及要求..."></textarea>
                    </label>
                </div>
                <label>附加文件：
                    <input id="attachment" type="file" name="attachment"/>
                </label>
                <div id = "extra" style="display: none">
                    <label>提交时间
                        <input disabled type="text" id="submit_time" name="submit_time">
                    </label>
                    <label>审核状态：
                        <input disabled type="text" id="project_status">
                    </label>
                    <label>审核意见：
                        <textarea disabled id="comment" name="comment"></textarea>
                    </label>
                    <label>审核时间：
                        <input disabled type="text" id="comment_time"/>
                    </label>
                </div>
                <label for="action"></label><input type="text" style="display: none" id="action" name="action"/>
                <div class="form-group">
                    <input style="display: inline; width: 48%" id="submit_button" type="submit" onclick="hidePop()" value="提交" />
                    <input style="display: inline; width: 48%" type="button" onclick="hidePop()" value="取消" />
                </div>
            </form>
        </div>
    </div>
    <div class = "form" style="text-align: center">
        <h1>课题申报</h1>
        <div class = 'child-form'>
            <input type="button" value="申报新课题" onclick="showPop('','','','','','申报', '','')"/>
            <h2>已申报课题：</h2>
            <table>
                    <tr>
                        <th>课题名称</th>
                        <th>课题类型</th>
                        <th>申报时间</th>
                        <th>课题状态</th>
                        <th>相关操作</th>
                    </tr>
                {% for project in project_list %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.type }}</td>
                            <td>{{ project.time }}</td>
                            <td>{{ project.status }}</td>
                            <td>
                                {% if project.status == "待审核" or project.status == "未通过审核" %}
                                    <input type="button" value="修改" onclick="showPop('{{ project.name }}',
                                            '{{ project.type}}','{{ project.info }}','{{ project.file }}',
                                            '{{ project.time }}', '{{ project.status }}', '{{ project.comment }}','{{ project.comment_time }}')">
                                {% else %}
                                    <input type="button" value="查看" onclick="showPop('{{ project.name }}',
                                            '{{ project.type}}','{{ project.info }}','{{ project.file }}',
                                            '{{ project.time }}', '{{ project.status }}', '{{ project.comment }}','{{ project.comment_time }}')">
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br/><br/><hr>

{% endblock %}