{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% block content %}
    <script>
        function $(id){
            return document.getElementById(id);
        }
        function showPop(project_name, student_name, open_report){
            document.getElementsByClassName('pop')[0].style.display = 'block';
            $('main-content').style.display = 'none';
            $('project_name').value = project_name;
            $('student_name').value = student_name;
            $('open_report').innerHTML = open_report;
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            document.getElementsByClassName('pop')[0].style.display = 'none';
        }
    </script>

    <div class="pop" style="margin: auto; left: 0; top:0">
        <h3>审阅开题报告</h3><br/>
        <div style="border: 2px solid #27496d;position:relative;border-radius: 8px;padding: 32px; width: 80%; height:auto; left: 10%; text-align: left; margin-bottom: 64px">
            <form>
                {% csrf_token %}
                <label style="padding-right: 25px;" for="project_name">课题名称：</label>
                <input id="project_name" style="border-radius: 10px;width: 48%" required='' type='text' name="project_name">
                <label alt='请输入课题名称' placeholder='课题名称' style="position:relative; left: 28%"></label>
                <label style="padding-right: 25px;" for="student_name">选题学生：</label>
                <input id="student_name" style="border-radius: 10px;width: 48%" required='' type='text' name="student_name">
                <label alt='请输入选题学生姓名' placeholder='选题学生姓名' style="position:relative; left: 28%"></label>
                <div>
                    <label>开题报告内容:</label>
                    <textarea disabled id = "open_report" name="open_report" placeholder="在此输入开题报告的主要内容...">{{ open_report }}</textarea>
                </div>
                <input type="button" onclick="hidePop()" value="关闭" />
            </form>
        </div>
    </div>
    <div id = 'main-content'>
    <h3>开题报告审阅</h3><br/>
    <table>
        <tr>
            <th>课题名称</th>
            <th>课题类型</th>
            <th>选题学生</th>
            <th>课题状态</th>
            <th>信息操作</th>
        </tr>
        {% for project in project_list %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.project_type }}</td>
                <td>{{ project.student_name }}</td>
                <td>
                    {% if project.status == "已填写" %}
                        <p style=" color: #27496d">已填写</p>
                    {% else %}
                        <p style=" color: #888">未填写</p>
                    {% endif %}
                </td>
                <td>
                   {% if project.status == "已填写" %}
                        <input type="submit" onclick="showPop('{{ project.project_name }}', '{{ project.student_name }}','{{ project.open_report }}')" style="margin: auto;width: 96%" value="审阅">
                    {% else %}
                        <input type="submit" class="disable" style="margin: auto; width: 96%" value="审阅">
                    {% endif %}
                </td>
            </tr>
        {% empty %}
             <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <br/><br/><hr>

{% endblock %}