{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% load static %}
{% block content %}
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr><h2 style="text-align: center; color: #27496d">指导教师{{ name }}，您好！</h2><hr/>
            <br/><h1>欢迎来到指导教师模块！</h1><br/><hr/>
            <p style="text-align: center; color: #27496d;">现在正处于选题阶段!</p>
            <p style="text-align: center; color: #27496d;">请在规定时间内完成选题!</p>
            <hr/>
        </div>
    </div>
{% endblock %}