{% extends 'component/navigation.html' %}
{% block aside %}
  <h2>{{ name }}老师, 您好！</h2>
    <h4>鹤发银丝映日月，丹心热血沃新花。</h4><br/>
  <ul class="side-links">
    <li><a href="/teacher/supervisor/project_proposal">课题申报</a></li>
    <li><a href="/teacher/supervisor/project_confirmation">确认选题</a></li>
     <li><a href="/teacher/supervisor/task_issue">下达任务书</a></li>
  <li><a href="/teacher/supervisor/report_review">审阅开题报告</a></li>
    <li><a href="/teacher/supervisor/mid_term_review">审阅中期检查</a></li>
    <li><a href="/teacher/supervisor/weekly_review">审阅周进程</a></li>
    <li><a href="/teacher/supervisor/draft_review">审阅毕业设计（论文）草稿</a></li>
    <li><a href="/teacher/supervisor/final_review">审阅毕业设计（论文）定稿</a></li>
    <li><a href="/teacher/supervisor/project_recommendation">校级设计（论文）推荐</a></li>
  </ul>
{% endblock %}