{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% load static %}
{% block content %}
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr><h2 style="text-align: center; color: #27496d">指导教师{{ name }}，您好！</h2><hr/>
            <br/><h1>欢迎来到指导教师模块！</h1><br/><hr/>
            <h3>相关说明</h3><hr/>
            <table class="linfo">
                <tr>
                    <th>对指导教师的要求</th>
                <tr>
                <tr>
                    <td>1、指导教师应牢记为党育人、为国育才使命、具有良好的师德师风，以德立身、以德立学、以德施教，做学生为学为事为人的示范</td>
                </tr>
                <tr>
                    <td>2、指导教师应具有中级及以上职称，具备扎实的知识功底、过硬的教学能力、勤勉的教学态度、科学的指导方法</td>
                </tr>
                <tr>
                    <td>3、指导教师应认真拟定毕业设计题目和任务书，做好毕业设计各环节的指导工作，保证投入毕业设计指导工作的时间和精力，严格过程管理。</td>
                </tr>
                <tr>
                    <td>4、指导教师是毕业设计质量的第一责任人，应对学生进行学术道德、学术规范的教育，引导学生养成实事求是的科学精神和严谨认真的治学态度。</td>
                </tr>
            </table><br/><hr/>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}