{% extends 'teacher/supervisor/supervisor_structure.html' %}
{% block content %}
    <script>
        function $(id){
            return document.getElementById(id);
        }
        function showPop(project_name, student_name){
            document.getElementsByClassName('pop')[0].style.display = 'block';
            $('main-content').style.display = 'none';
            $('project_name').value = project_name;
            $('student_name').value = student_name;
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            document.getElementsByClassName('pop')[0].style.display = 'none';
        }
    </script>
    <div id = 'main-content'>
    <h3>课题管理</h3><br/>
    <table>
        <tr>
            <th>课题名称</th>
            <th>课题类型</th>
            <th>选题学生</th>
            <th>申报教师</th>
            <th>信息操作</th>
            <th>课题状态</th>
        </tr>
        {% for project in project_list %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.project_type }}</td>
                <td>{{ project.student_name }}</td>
                <td>{{ project.supervisor_name }}</td>
                <td>
                   {% if project.status == "已填写" %}
                        <input type="submit" class="disable" style="margin: auto; width: 96%" value="已下达">
                    {% else %}
                       <input type="submit" onclick="showPop('{{ project.project_name }}', '{{ project.student_name }}')" style="margin: auto" value="下达">
                    {% endif %}
                </td>
                <td>
                    {% if project.status == "已填写" %}
                        <p style=" color: #27496d">已通过</p>
                    {% else %}
                        <p style=" color: #888">未填写</p>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
             <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                 <td>&nbsp</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="pop">
        <h3>下达任务书</h3><br/>
        <div style="border: 2px solid #27496d;position:relative;border-radius: 8px;padding: 32px; width: 80%; height:auto; left: 10%; text-align: left; margin-bottom: 64px">
            <form method="post" action="/teacher/supervisor/task_issue/issue_task/">
                {% csrf_token %}

                <label style="padding-right: 25px;" for="project_name">课题名称：</label>
                <input id="project_name" style="border-radius: 10px;width: 48%" required='' type='text' name="project_name">
                <label alt='请输入课题名称' placeholder='课题名称' style="position:relative; left: 28%"></label>

                <label style="padding-right: 25px;" for="student_name">选题学生：</label>
                <input id="student_name" style="border-radius: 10px;width: 48%" required='' type='text' name="student_name">
                <label alt='请输入选题学生姓名' placeholder='选题学生姓名' style="position:relative; left: 28%"></label>
                <div>
                    <label>研究的主要内容:</label>
                    <textarea name="main_content" placeholder="在此输入研究的主要内容..."></textarea>
                </div>
                <div>
                    <label>涉及的知识和基本要求:</label>
                    <textarea name="knowledge_requirements" placeholder="在此输入涉及的知识和基本要求..."></textarea>
                </div>
                <div>
                    <label>预期目标</label>
                    <textarea name="target_goal" placeholder="在此输入预期目标..."></textarea>
                </div>
                <div>
                    <label>进展安排:</label>
                    <textarea name="procedure_management" placeholder="在此输入进展安排..."></textarea>
                </div>
                <div class="form-group">
                    <input style="display: inline; width: 48%" type="submit" value="下达" />
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input style="display: inline; width: 48%" type="button" onclick="hidePop()" value="取消" />
                </div>
            </form>
        </div>
    </div>
    <br/><br/><hr>

{% endblock %}