{% extends 'preview.html' %}
{% load static %}
{% block content %}
    <div style="
    background-color: #FFFFFF66;
  width: 350px;
  height: 500px;
  border-radius: 15px;
    box-shadow: 0 0 10px #999;
    margin: 100px auto;
    position: relative;
    left: 2%;
  /* 定位到中心 */
  text-align: center;">
        <br/>
    <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/>
    <div class="text", style="margin-top: 1px">高校毕业设计管理系统</div>
          <p>-明悟-</p>
          <div style="width:300px;height:auto;margin: 48px auto">
            <form action="/index/" method="post">
                {% csrf_token %}
                <input required='' type='text' name="Uno">
                <label alt='请输入您的账号' placeholder='用户账号'></label>
                <input required='' type='password' name="Upwd">
                <label alt='请输入您的密码' placeholder='用户密码'></label>
                <input type="submit" style="margin: 12px auto" value = '登录'>
            </form>
          </div>
    </div>

{% endblock %}

