{% extends 'preview.html' %}
{% load static %}
{% block content %}
    <script>
        function showClass(){
            document.getElementById("class").style.display="block";
            document.getElementById("tittle").style.display="none";
        }
        function hideClass(){
            document.getElementById("class").style.display="none";
            document.getElementById("tittle").style.display="block";
        }
        function submitForm(){
            var pw = document.getElementById("pw").value;
            var pw2 = document.getElementById("pwd2").value;
            if(pw !== pw2){
                alert("两次密码不一致");
                return;
            }
            document.getElementById("account").submit();
        }
    </script>
    <style>
        label{
            padding-right: 25px;
            display: block;
            margin: 12px auto;
        }
        input{
            display: inline-block;
           width: 48%;
            margin: auto;
        }
    </style>
{% endblock %}

