{% extends "structure.html" %}
{% block content %}
    {% if role == '管理员' %}
        <h3>{{ name }}管理员，您好！</h3><br/>
        <h4>人生的价值，即以其人对于当代所做的工作为尺度。</h4><br/>
    {% endif %}

    {% if role == '学生' %}
        <h3>{{ name }}同学，你好！</h3><br/>
        <h4>自我认同与自我热爱是疗愈一切的关键!</h4><br/>
    {% endif %}

    {% if role == '教师' %}
        <h3>{{ name }}老师，您好！</h3><br/>
        <h4>鹤发银丝映日月，丹心热血沃新花。</h4><br/>
    {% endif %}
       <h3>个人信息</h3><br/>
        <table>
            <tr>
                <th>身份</th>
                <td>{{ role }}</td>
            </tr>
            <tr>
                <th>学号</th>
                <td>{{ no }}</td>
            </tr>
            <tr>
                <th>名字</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{{ gender }}</td>
            </tr>
            <tr>
                <th>出生日期</th>
                <td>{{ birth }}</td>
            </tr>
            <tr>
                <th>学院</th>
                {% if fno == '07' %}
                <td>计算机科学与技术学院</td>
                {% endif %}
            </tr>
            <tr>
                <th>专业</th>
                {% if mno == '0701' %}
                <td>计算机科学与技术</td>
                {% endif %}
            </tr>
        </table>
{% endblock %}