{% load static %}
<!DOCTYPE html>
<html>
<title>毕业设计管理系统</title>
  <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/special_style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
  </head>
  <body onmouseenter="hideSecondNav()" style="height: 100%; display: block">
        <script>
            function $(id) {
                return document.getElementById(id);
            }
            function AccessDenied(){
                alert("您尚未登录，无法访问该页面！")
                return false
            }
            function $(id) {
                return document.getElementById(id);
            }
            function showNewMessage(){
                $('newMessage').style.display='block'
            }
            function hideNewMessage(){
                $('newMessage').style.display='none'
            }
            function ShowSecondNav(id){
                $("second-nav").style.height = "52px";
                if(id===1){
                    $("nav1").style.display = "inline"
                    $("nav2").style.display = "none"
                }
                else{
                    $("nav1").style.display = "none"
                    $("nav2").style.display = "inline"
                }
            }
            function hideSecondNav(){
                $("second-nav").style.height = "0px";
                $("nav1").style.display = "none"
                $("nav2").style.display = "none"
            }
            function CheckStudentRole(role){
                if(role === "学生"){
                    return true;
                }else{
                    alert("您不是学生，无法访问该页面！")
                    return false;
                }
            }
            function CheckTeacherRole(role){
                if(role === "教师"){
                    return true;
                }else{
                    alert("您不是教师，无法访问该页面！")
                    return false;
                }
            }
            function SubmitRole(role,t_role){
                if(CheckTeacherRole(role)){
                    $("role").value = t_role
                    $("role-form").submit()
                    return false
                }
                return false
            }
        </script>
        <!-- 背景动效 -->
        <canvas height="926" width="1920" style="position: fixed; top: 0; left: 0; z-index: -1; opacity: 1; " id="canvas"></canvas>
        <script type="text/javascript" src ="{% static 'js/dat.gui.min.js' %}"></script>
        <script type="text/javascript" src ="{% static 'js/script.js' %}"></script>
        <!-- 导航栏 -->
        <div>
            <nav>
                  <div class="logo">
                      <span><img src="{% static 'img/logo_white.png' %}" alt="中国石油大学（华东）"/></span>
                      <span><img src="{% static 'img/text-white.png' %}" alt=""/></span>
                  </div>
                      <ul id = 'student' class="nav-links">
                        <li class="head_navi"><a href="/index/">首页</a></li>
                        <li class="head_navi"><a href="/student" onmouseover="ShowSecondNav(1)">学生中心</a></li>
                        <li class="head_navi"><a href="/teacher" onmouseover="ShowSecondNav(2)">教师中心</a></li>
                        <li class="head_navi"><a href="/logout/">退出系统</a></li>
                      </ul>
            </nav>
            <nav id="second-nav">
                <div></div>
                <div id="nav1" style="display: none;float: right">
                  <ul class="second-links">
                      <li><a href="/student/project_selection/">学生选题</a></li>
                      <li><a href="/student/browse_task/">查看任务书</a></li>
                      <li><a href="/student/open_report/">开题报告</a></li>
                      <li><a href="/student/mid_term_check/">中期检查</a></li>
                      <li><a href="/student/weekly_report/">周进度报告</a></li>
                      <li><a href="/student/thesis_draft/">论文草稿</a></li>
                      <li><a href="/student/thesis_final/">论文定稿</a></li>
                      <li><a href="/index/">查看答辩信息</a></li>
                  </ul>
                </div>
                <div id="nav2" style="display: none; float: right">
                  <ul class="second-links">
                    <li><a href="/teacher/supervisor/">指导教师</a></li>
                    <li><a href="/teacher/manager/" >毕业设计负责人</a></li>
                    <li><a href="/teacher/dean/" >教学院长</a></li>
                    <li><a href="/teacher/secretary/" >教学秘书</a></li>
                  </ul>
                </div>
                <form id="role-form" style="display: none" method="post" action="/role/">
                    <label>
                        {% csrf_token %}
                        <input type="text" name="role" value="">
                    </label>
                    <input type="submit">
                </form>
            </nav>
            <!-- 左侧边栏 -->
            <aside class="side" style = 'width: 14%; position: absolute; left: 0;'>
            <hr/><br/>
                <div class="img_center_div" style="">
                    <img style="height: auto;width: 74%" src="{% static 'img/word_white.png' %}" alt=""/>
                </div>
                <br/><hr/><br/>
                {% block aside %}
                {% endblock %}
                 <br/><hr/><br/>
            </aside>
            <!-- 内容部分 -->
            <main style= "display:block; width: 69%; position: absolute; left: 14%; height: 90%">
                <br/><hr>
                <div style="margin-top: 32px; margin-bottom: 60px;">
                    {% block content %}
                    {% endblock %}
                    <div class="footer">
                        <div>
                           <address>
                              <p>@TochusC</p>
                              <ul>
                                <li>中国石油大学（华东） 青岛软件学院、计算机科学与技术学院</li>
                                <li>邮箱：<a href="mailto:tochusc@gmail.com">tochusc@gmail.com</a></li>
                              </ul>
                           </address>
                        </div>
                    </div>
                    <br/><hr style="border: 1px solid #F6F6F688">
                    <address>
                        <ul>
                            <li class = "website_id">鲁ICP备2022042182号-1</li>
                        </ul>
                    </address>
                </div>
                <br/><br/>
                <div class="info_border" style="height: auto">
                        <div class="border" style="width: 100%; margin-bottom:5px;margin-right: 0; margin-left: 0;">
                        <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
                            <hr/><h1>留言板</h1><hr/>
                            <input type="button" class="add" value="新建留言"
                                   onclick="showNewMessage()"/>
                            <table>
                                    <tr>
                                        <th style="width:15%">用户名</th>
                                        <th style="width:15%" >身份</th>
                                        <th style="width:15% " >时间</th>
                                        <th style="width:55%">留言内容</th>
                                    </tr>
                                {% for comment in comment_list %}
                                        <tr>
                                            <td>{{ comment.user }}</td>
                                            <td>{{ comment.role }}</td>
                                            <td>{{ comment.time }}</td>
                                            <td colspan="3">{{ comment.content }}</td>
                                        </tr>
                                {% empty %}
                                    <tr style="height: 128px">
                                        <td colspan="6">暂无留言</td>
                                    </tr>
                                {% endfor %}
                            </table><br/><hr/>
                        </div>
                    </div>
                 <div id = "newMessage" class="pop" style="display: none; position:fixed;left: 40%; top: 10%;margin: auto; height: auto; width: auto;">
                        <div class="border" style="width: 100%; margin-bottom:5px;margin-right: 0; margin-left: 0;">
                        <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
                            <hr/><h1>新建留言</h1><hr/>
                            <form method="post" action="/comment/">
                                {% csrf_token %}
                                <label>留言内容：
                                    <textarea name="comment"></textarea>
                                </label>
                                <hr/>
                                <div class="form-group">
                                    <input style="width: 42%" type="submit" value="提交"/>
                                    <input style="width: 42%" type="button" value="关闭" onclick="hideNewMessage()" />
                                </div>
                            </form>
                        </div>
                </div>
            </main>
            <!-- 右侧边栏 -->
            <aside style = 'position: absolute; left: 83%;width: 17%; z-index:-1; height: 100%'>
                    <hr/><br/>
                <div class="img_center_div">
                    <img style="height: auto;width: 48%" src="{% static 'img/logo_white.png' %}" alt=""/>
                </div>
                <br/><hr/><br/>
                <div class="calendar"></div>
                <script src = "{% static '/js/calender.js' %}"></script>
                <br/><br/><hr/><br/>
            </aside>
        </div>
  </body>
</html>