{% extends 'student/student_structure.html' %}
{% block content %}
    <div class="form" style="text-align: center">
        <h1>撰写开题报告</h1><br/>
        <div class="child-form">
            <form method="post" action="/student/open_report/submit_report/" enctype="multipart/form-data">
                {% csrf_token %}
                <label style="display: none" type="text" name="status" value="{{ status }}"></label>
                <div>
                     <label style="padding-right: 25px;" for="project_name">课题名称：
                         <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_name" value="{{ project.name }}" disabled>
                     </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_type">课题类型：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_type" value="{{ project.type }}" disabled>
                    </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_supervisor">指导教师:
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_supervisor" value="{{ project.supervisor }}" disabled>
                    </label>
                </div>
                {% if status == "未提交" %}
                    <div>
                        <label>开题报告:
                            <textarea class="proposal" name="open_report" placeholder="在此撰写您的开题报告..."></textarea>
                        </label>
                    </div>
                    <div>
                        <label>附件:
                            <input type="file" name="attachment"/>
                        </label>
                    </div>
                    <input type="submit" value="提交" />
                {% else %}
                    {% if open_report.status == "通过" %}
                        <div>
                            <label>开题报告:
                                <textarea disabled class="proposal" name="report_content" placeholder="在此撰写您的开题报告...">{{ open_report.content }}</textarea>
                            </label>
                        </div>
                        <div>
                            <label>附件:
                                <input disabled type="file" name="attachment" src="{{ open_report.file }}"/>
                            </label>
                        </div>
                        <div>
                            <label>提交时间:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="time" value="{{ open_report.time }}" disabled>
                            </label>
                        </div>
                        <div>
                            <label>审核状态:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="status" value="{{ open_report.status }}" disabled>
                            </label>
                            <label>审核意见:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="comment" value="{{ open_report.comment }}" disabled>
                            </label>
                            <label>审核时间:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="time" value="{{ open_report.comment_time }}" disabled>
                            </label>
                        </div>
                        <input disabled type="submit" value="已审核" />
                    {% else %}
                        <div>
                            <label>开题报告:
                                <textarea class="proposal" name="report_content" placeholder="在此撰写您的开题报告...">{{ open_report.content }}</textarea>
                            </label>
                        </div>
                        <div>
                            <label>附件:
                                <input type="file" name="attachment" src="{{ open_report.file }}"/>
                            </label>
                        </div>
                        <div>
                            <label>提交时间:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="time" value="{{ open_report.time }}" disabled>
                            </label>
                        </div>
                        <div>
                            <label>审核状态:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="status" value="{{ open_report.status }}" disabled>
                            </label>
                            <label>审核意见:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="comment" value="{{ open_report.comment }}" disabled>
                            </label>
                            <label>审核时间:
                                <input style="border-radius: 10px;width: 48%" required='' type='text' name="time" value="{{ open_report.comment_time }}" disabled>
                            </label>
                        </div>
                        <input type="submit" value="提交" />
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
    <br/><br/><hr>
{% endblock %}