{% extends 'component/navigation.html' %}
{% block aside %}
  <h2>{{ name }}同学, 你好！</h2>
    <h4>自我认同与自我热爱是疗愈一切的关键!</h4><br/>
  <ul class="side-links">
    <li><a href="/student/project_selection">学生选题</a></li>
    <li><a href="/student/browse_task">查看任务书</a></li>
      <li><a href="/student/open_report/">开题报告等材料信息</a></li>
      <li><a href="/account">中期检查</a></li>
      <li><a href="/account">周进度情况记录</a></li>
      <li><a href="/account">论文草稿</a></li>
      <li><a href="/account">论文定稿</a></li>
      <li><a href="/account">查看答辩信息</a></li>
  </ul>
{% endblock %}