{% extends 'student/student_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{
            padding-right: 25px;
        }
    </style>
    <script>
        function $(id){
            return document.getElementById(id);
        }
    </script>
    <div class="info_border" id="main-content">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>论文定稿提交</h1><hr/><br/>
            <form method="post" action="/student/thesis_final/submit_final/">
                {% csrf_token %}
                <div>
                     <label style="padding-right: 25px;" for="project_name">课题名称：
                        <input style="display:none;border-radius: 10px;width: 48%" required='' type='text' name="project_name" value="{{ project.name }}">
                         <input style="border-radius: 10px;width: 48%" required='' type='text' name="pr" value="{{ project.name }}" disabled>
                     </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_type">课题类型：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_type" value="{{ project.type }}" disabled>
                    </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_supervisor">指导教师：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_supervisor" value="{{ project.supervisor }}" disabled>
                    </label>
                </div>
                <div><hr/>
                    <label>论文定稿：
                        <textarea class="proposal" id="content" name="content" placeholder="请在此撰写您的论文定稿...">{{ thesis_final.content }}</textarea>
                    </label>
                    <label>附加文件：
                        <input type="file" src="{{ thesis_final.file }}" id="attachment" name="attachment"/>
                    </label>
                </div>
                {% if status != "未提交" %}
                <div id="extra">
                    <br/><hr/><br/>
                    <label>提交时间：
                        <input type="text" disabled value="{{ thesis_final.time }}">
                    </label>
                    <label>审核状态：
                        <input type='text' name="status" value="{{ thesis_final.status }}" disabled>
                    </label>
                    <label>审核意见：
                        <textarea disabled class="proposal" name="comment" placeholder="请在此撰写审核意见...">{{ comment }}</textarea>
                    </label>
                    <label>审核时间:
                        <input disabled type="text" value="{{ thesis_final.comment_time }}"/>
                    </label>
                </div>
                    {% if thesis_final == "通过" %}
                        <div id="score">
                            <br/><hr/><br/>
                            <label>评阅教师
                                <input type="text" name="reviewer" value="{{ thesis_final.reviewer }}" disabled>
                            </label>
                            <label>评阅成绩：
                                <input type="text" name="score" value="{{ thesis_final.score }}" disabled>
                            </label>
                            <label>评阅意见：
                                <textarea class="proposal" name="comment" placeholder="请在此撰写评阅意见...">{{ thesis_final.score_comment }}</textarea>
                            </label>
                            <label>评阅时间：
                                <input type="text" value="{{ thesis_final.score_time }}">
                            </label>
                         </div>
                    {% endif %}
                {% endif %}
                <hr/><div style="text-align: center">
                    {% if status != "未提交" %}
                        {% if thesis_final == "通过" %}
                            <input id="submit_button" type="submit" disabled value="已审核" />
                        {% else %}
                            <label>
                                <input id="action" type="text" name="action" style="display: none" value="修改"/>
                            </label>
                            <input id="submit_button" type="submit" value="修改" />
                        {% endif %}
                     {% else %}
                        <label>
                            <input id="action" type="text" name="action" style="display: none" value="提交"/>
                        </label>
                        <input id="submit_button" type="submit" value="提交" />
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <br/><br/><hr>
{% endblock %}
