{% extends 'student/student_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{
            padding-right: 25px;
        }
    </style>
    <script>
        function $(id){
            return document.getElementById(id);
        }
    </script>
    <div class="info_border" id="main-content">
        <div class="border">
         <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>论文草稿提交</h1><hr/><br/>
            <form method="post" action="/student/thesis_draft/submit_draft/">
                {% csrf_token %}
                <div>
                     <label style="padding-right: 25px;" for="project_name">课题名称：
                        <input style="display:none;border-radius: 10px;width: 48%" required='' type='text' name="project_name" value="{{ project.name }}">
                         <input style="border-radius: 10px;width: 48%" required='' type='text' name="pr" value="{{ project.name }}" disabled>
                     </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_type">课题类型：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_type" value="{{ project.type }}" disabled>
                    </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_supervisor">指导教师:
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_supervisor" value="{{ project.supervisor }}" disabled>
                    </label>
                </div>
                <div><hr/>
                    <label>论文草稿:
                        {% if thesis_draft.status == "通过" %}
                            <textarea class="proposal" id="content" disabled name="content" placeholder="请在此撰写您的论文草稿...">{{ thesis_draft.content }}</textarea>
                        {% else %}
                            <textarea class="proposal" id="content" name="content" placeholder="请在此撰写您的论文草稿...">{{ thesis_draft.content }}</textarea>
                        {% endif %}
                    </label>
                    <label>附加文件:
                        <input type="file" src="{{ thesis_draft.file }}" id="attachment" name="attachment"/>
                    </label>
                </div>
                {% if status != "未提交" %}
                <div id="extra">
                    <br/><hr/><br/>
                    <label>提交时间：
                        <input type="text" disabled value="{{ thesis_draft.time }}">
                    </label>
                    <label>审核状态：
                        <input type='text' name="status" value="{{ thesis_draft.status }}" disabled>
                    </label>
                    <label>审核意见：
                        <textarea disabled class="proposal" name="comment" placeholder="请在此撰写审核意见...">{{ comment }}</textarea>
                    </label>
                    <label>审核时间:
                        <input disabled type="text" value="{{ thesis_draft.comment_time }}"/>
                    </label>
                </div>
                {% endif %}
                <hr/><div style="text-align: center">
                    {% if status != "未提交" %}
                        {% if thesis_draft.status == "通过" %}
                            <input disabled id="submit_button" type="submit" value="已审核" />
                        {% else %}
                            <input id="submit_button" type="submit" value="修改" />
                        {% endif %}
                        <label style="display: none">
                            <input id="action" type="text" name="action" style="display: none" value="修改"/>
                        </label>
                     {% else %}
                        <label>
                            <input id="action" type="text" name="action" style="display: none" value="提交"/>
                        </label>
                        <input id="submit_button" type="submit" value="提交" />
                    {% endif %}
                </div>
            </form>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
    <br/><br/><hr>
{% endblock %}