{% extends 'student/student_structure.html' %}
{% load static %}
{% block content %}
    <style>
        label{
            padding-right: 25px;
            display: block;
        }
    </style>
    <script>
        function $(id){
            return document.getElementById(id);
        }
        function showPop(weekly_report, status){
            // 隐藏页面主体
            $('main-content').style.display = 'none';
            //显示弹窗
            $('pop').style.display = 'block';
            // 初始化提交按钮
            var submit_button;
            submit_button = $('submit_button');
            // 依据课题审核状态，修改弹窗内容
            if( status === "新建"){
                $('action').value = "新建";
                submit_button.type = "submit";
                submit_button.value = "提交";
            }
            else{
                // 显示额外信息
                $('extra').style.display = 'block';
                // 设置额外信息的值
                $('weekly_report').value = weekly_report.content;
                $('attachment').src = weekly_report.file
                $('submit_time').value = weekly_report.time;
                $('s_time').value = weekly_report.time;
                $('report_status').value = weekly_report.status;
                $('comment').value = weekly_report.comment;
                $('comment_time').value = weekly_report.comment_time;
                // 依据课题审核状态，修改弹窗内容
                if (status === "通过"){
                    submit_button.setAttribute("disabled", "disabled")
                    $("weekly_report").setAttribute("disabled", "disabled")
                    $("attachment").setAttribute("disabled", "disabled")
                    submit_button.value = "已审核";
                }
                else{
                    submit_button.removeAttribute("disabled")
                    $("weekly_report").removeAttribute("disabled")
                    $("attachment").removeAttribute("disabled")
                    $('action').value = "修改";
                    submit_button.type = "submit";
                    submit_button.value = "提交";
                }
            }
        }
        function hidePop(){
            $('main-content').style.display = 'block';
            $('pop').style.display = 'none';
            $('extra').style.display =  'none';
        }
    </script>
    <div class="info_border" id="pop" style="display:none; margin: auto; left: 0; top:0">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h3>周进度报告</h3><hr/><br/>
            <form method="post" action="/student/weekly_report/submit_report/">
                {% csrf_token %}
                <label>课题名称：
                    <input disabled class="disabled" id="project_name" style="border-radius: 10px;width: 48%" required='' type='text' name="pname" value="{{ project.name }}">
                    <input id="project_name" style="display:none; border-radius: 10px;width: 48%" required='' type='text' name="project_name" value="{{ project.name }}" >
                </label>
                <label>课题类型：
                    <input disabled class="disabled" id="project_type" value="{{ project.type }}" style="border-radius: 10px;width: 48%" required='' type='text' name="project_type">
                </label>
                <label>指导教师：
                    <input disabled class="disabled" id="project_supervisor" value="{{ project.supervisor }}" style="border-radius: 10px;width: 48%" required='' type='text' name="project_supervisor">
                </label>
                <hr/>
                <div id="content">
                    <label>进展情况:
                        <textarea id = "weekly_report" name="weekly_report" placeholder="在此输入周进度报告的主要内容..."></textarea>
                    </label>
                    <label>附加文件：
                        <input id="attachment" type="file" name="attachment"/>
                    </label>
                </div>
                <div id = "extra" style="display: none">
                    <br/><hr/><br/>
                    <label>提交时间
                        <input disabled type="text" id="submit_time" name="s_time">
                        <input style="display: none" type="text" id="s_time" name="submit_time">
                    </label>
                    <label>审核状态：
                        <input disabled type="text" id="report_status">
                    </label>
                    <label>审核意见：
                        <textarea disabled id="comment" name="comment"></textarea>
                    </label>
                    <label>审核时间：
                        <input disabled type="text" id="comment_time"/>
                    </label>
                </div>
                <br/><hr/>
                    <label style="display: none" for="action"></label><input type="text" style="display: none" id="action" name="action"/>
                <div class="form-group" style="text-align: center">
                    <input style="width: 36%" id="submit_button" type="submit" value="提交" />
                    <input style="width: 36%" onclick="hidePop()" type="button" value="关闭" />
                </div>
            </form>
        </div>
    </div>
    <div id = "main-content" class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}" alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>周进度报告</h1><hr/><br/>
            <div>
                     <label style="padding-right: 25px;" for="project_name">课题名称：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="pname" value="{{ project.name }}" disabled>
                         <input style="display:none; border-radius: 10px;width: 48%" required='' type='text' name="project_name" value="{{ project.name }}">
                     </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_type">课题类型：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_type" value="{{ project.type }}" disabled>
                    </label>
                </div>
                <div>
                    <label style="padding-right: 25px;" for="project_supervisor">指导教师：
                        <input style="border-radius: 10px;width: 48%" required='' type='text' name="project_supervisor" value="{{ project.supervisor }}" disabled>
                    </label>
                </div>
            <hr/>
            <div>
                <script>
                    var project = {
                        "name": "{{ project.name }}",
                        "type": "{{ project.type }}",
                        "supervisor": "{{ project.supervisor }}"
                    }
                </script>
                <input type="button" class="add" value="新建报告" onclick="showPop(project, '新建')"/>
                <table>
                    <script>
                        var weekly_report_list = []
                    </script>
                        <tr>
                            <th>提交时间</th>
                            <th>进展情况</th>
                            <th>审核状态</th>
                            <th>审核时间</th>
                            <th>信息操作</th>
                        </tr>
                    {% for weekly_report in weekly_report_list %}
                            <tr>
                                <td>{{ weekly_report.time }}</td>
                                <td>{{ weekly_report.content|truncatechars:10 }}</td>
                                <td>{{ weekly_report.status }}</td>
                                <td>{{ weekly_report.comment_time }}</td>
                                <td>
                                    <script>
                                        weekly_report = {
                                            "content": "{{ weekly_report.content }}",
                                            "file": "{{ weekly_report.file }}",
                                            "time": "{{ weekly_report.time }}",
                                            "status": "{{ weekly_report.status }}",
                                            "comment": "{{ weekly_report.comment }}",
                                            "comment_time": "{{ weekly_report.comment_time }}"
                                        }
                                    </script>
                                    {% if weekly_report.status == "通过" %}
                                        <input type="button" style="margin: auto" value="查看" onclick="showPop(weekly_report,'{{ weekly_report.status }}')">
                                    {% else %}
                                        <input type="button" style="margin: auto" value="修改" onclick="showPop(weekly_report,'{{ weekly_report.status }}')">
                                    {% endif %}
                                </td>
                            </tr>
                    {% empty %}
                        <tr style="height: 128px">
                            <td style="background-color: #F5F5F5" rowspan="2" colspan="5">暂无周进度报告</td>
                        </tr>
                    {% endfor %}
                </table>
                <br/><hr/>
                <script src="{% static 'js/clock.js' %}"></script>
                <div id="clock">获取时间中...</div>
            </div>
        </div>
    </div>
{% endblock %}