{% extends "admin/admin_structure.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <div class="info_border">
        <div class="border">
            <img src="{%static 'img/text_logo.png' %}"
                 alt="中国石油大学（华东）" style="width: auto; height: 64px; margin-top: 20px; margin-bottom: 1px"/><br/><br/>
            <hr/><h1>欢迎来到信息统计页面！</h1><hr/>
            <h3>用户信息总览</h3><hr/>
            <h4>注册用户总数：{{ user_list|length }}</h4>
            <table>
                <tr>
                    <th>用户名称</th>
                    <th>用户身份</th>
                    <th>注册时间</th>
                </tr>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.0 }}</td>
                        <td>{{ user.2 }}</td>
                        <td>{{ user.3 }}</td>
                    </tr>
                {% empty %}
                {% endfor %}
            </table>
            <br/><hr/>
            <script src="{% static 'js/clock.js' %}"></script>
            <div id="clock">获取时间中...</div>
        </div>
    </div>
{% endblock %}